[submodule "qux"]
	path = qux
	url = git@github.com:quxdev/qux
[submodule "shorturl"]
	path = shorturl
	url = git@github.com:quxdev/shorturl
[submodule "payments"]
	path = payments
	url = git@github.com:quxdev/payments
[submodule "community"]
	path = community
	url = git@github.com:quxdev/community
